body {
    background-color: #192d35;
}

.wrapper {
   margin: 0 auto;
   width: 900px;
}

#top {
   height: 110px;
}

#logo {
   margin-top: 40px;
   margin-bottom: 20px;
}

#footer {
    color: white;
}

.form-group > textarea {
    width: 100%;
}

#content {
    padding: 10px 200px;
}

#messages > div.well {
    margin-top: 20px;
    background-color: #00CCFF;
}

#login {
    color: white;
}
