{% extends 'base.html' %}
{% block title %}
HackersTweet
{% endblock %}
{% block content %}
    {% include 'base/navigation.html' %}
    <div id="content" class="well">
        {% if user.is_authenticated %}
            <h2>Hello {{ user }}!!</h2>
        {% endif %}
    {% if messages_form.errors %}
      <div class="alert alert-danger fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <p>{{ messages_form.errors }}</p>
      </div>
    {% endif %}
      <form role="form" method="post" action="{% url 'website.views.index' %}">
        {% csrf_token %}
        {% comment %}{{ messages_form.as_p }}{% endcomment %}
        <div class="form-group">
            {{ messages_form.message }}
        </div>
        <div class="form-group">
            {{ messages_form.author.label_tag }} 
            {{ messages_form.author }}
        </div>
        <input class="btn btn-primary btn-large" type="submit" value="Write" />
      </form>
      <div id="messages">
        {% for m in messages %}
            <div class="well">
              <p>{{ m.message }}</p>
              <p>Authored by: {{ m.author.name }} at {{ m.created_at }}</p>
            </div>
        {% endfor %}
      </div>
	</div>
{% endblock %}
