{% block navigation %}
        <ul class="nav nav-pills">
		    <li class="active">
				<a href="#">Home</a>
			</li>
			<li>
				<a href="/admin">Admin</a>
			</li>
            <li>
				<a href="/secret">Secret</a>
			</li>
            <li>
            <a href="/logout">Logout</a>
			</li>
		</ul>
{% endblock %}
