{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="author" content="Antonio Sánchez Pineda">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon-144-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon-114-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon-72-precomposed.png' %}">
  <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-57-precomposed.png' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
    {% block head %}{% endblock %}
</head>

<body>
<div class="container">
    <div id="top">
    <div class="wrapper">
        <img src="http://static.qea.me/uhw/images/logo.png" id="logo" alt="UMA Hackers Week">
    </div>
  </div>
    <div class="row clearfix">
		<div class="col-md-12 column">
            {% block content %}{% endblock %}
		</div>
	</div>
    <div id="footer">
        {% block footer %}{% endblock %}
        &copy; HackersTweet 2014 
    </div>
</div>
</body>
</html>
